/**********************************
FONTS
***********************************/

@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic,300italic,300,100italic,100);


@font-face {
    font-family: 'nerissemibold';
    src: url('../webfonts/Neris-SemiBold-webfont.eot');
    src: url('../webfonts/Neris-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Neris-SemiBold-webfont.woff') format('woff'),
         url('../webfonts/Neris-SemiBold-webfont.ttf') format('truetype'),
         url('../webfonts/Neris-SemiBold-webfont.svg#nerissemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'nerislight';
    src: url('../webfonts/Neris-Light-webfont.eot');
    src: url('../webfonts/Neris-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Neris-Light-webfont.woff') format('woff'),
         url('../webfonts/Neris-Light-webfont.ttf') format('truetype'),
         url('../webfonts/Neris-Light-webfont.svg#nerislight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nerisblack';
    src: url('../webfonts/Neris-Black-webfont.eot');
    src: url('../webfonts/Neris-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Neris-Black-webfont.woff') format('woff'),
         url('../webfonts/Neris-Black-webfont.ttf') format('truetype'),
         url('../webfonts/Neris-Black-webfont.svg#nerisblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

/**********************************
GENERAL
***********************************/

body, html {
   overflow-x: hidden;
   width: 100%;
}

.container-fluid {
  margin: 0;
  padding: 0;
  padding-top: 100px;
  padding-bottom: 70px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  line-height: 1.5em;
  margin: 1em auto;
	padding: 0 5%;
  text-indent: 30px;
}

h1 {
  color: #000;
}

ul {
  padding: 0 7%;
}

/**********************************
HEADER
***********************************/

.page-header {
    height: 100px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black !important;
    background-color: white;
    opacity: 0.9;
}

.navbar-header {
    height: 100px;
}

.olga-logo {
    background-color: white;
    height: 70px;
    margin-top: 15px;
    margin-left: 15px;
    z-index:50;
}


#menu-button {
    background-image: none;
    border: none;
    background-color: white;
    margin-right: 15px;
    padding:0;
}

.menu-icon {
    height: 60px;
}

#myNavbar {
  font-family:"nerissemibold";
  background: #fff;
  border: none;
}

#myNavbar {
  font-family:"nerissemibold";
  background: #fff;
  border: none;
  padding-top: 20px;
}

#myNavbar a {
  color: #000;
  background: #fff;
  font-size: 2.5em;
  border: 1px solid #fff;
  border-radius: 25px;
}

#myNavbar a:hover {
  color: #fff;
  background: #000;
}

/**********************************
PAGE: LANDING
***********************************/

.landingpage h1 {

font-family: 'nerissemibold', sans-serif;
font-size: 6em;
color: white;
font-weight:bold;
}

.landingpage h2 {

font-family: 'nerissemibold', sans-serif;
font-size: 3em;
color: #fff;
font-weight:bold;
}

.landing-wrapper {
    width: 100%;
    height: 450px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.6), 0px 0px 2px  rgba(0,0,0,1);
}

.landingpage img {
    background: url(../img/landing.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

.landing-slogan {
    z-index:100;
    position:absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top:190px;
}

/**********************************
PAGE: PORTFOLIO
***********************************/

.wrapper h1 {
  margin: 0;
	padding: 5px 0;
  background-color: #f2f1ef;
	font-weight: normal;
  font-family: 'nerislight', sans-serif;
  color: #000;
  text-shadow: 2px 2px 6px #000;
  font-size: 4em;
}

.project-heading {
  background-color: #000;
  border-bottom: 1px solid #fff;
}

.portfolio h4 {
  font-family: 'nerislight', sans-serif;
  color: #fff;
  font-size: 24px;
  margin: 0;
  padding: 5px 0;
}

.project {
  padding: 20px 20px;
}

.project img {
  width: 100%;
  /* border-radius: 10px; */
  margin: 0 0 5px;
}

.explanation-text {
  padding: 10px 10px 0 10px;
}

.reflection-button button {
  color: #fff;
  width: 100%;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  background: #000;
  font-size: 1.8em;
  border: 3px solid #000;
  border-radius: 20px;
}

.reflection-button button:hover {
  color: #000;
  background: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;

}
.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index:100;
}

.popup {
  margin:calc(30vh - 100px) auto 0;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  height: calc(70vh);
  position: relative;
  transition: all 5s ease-in-out;

}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: 'nerisbold', sans-serif;
  font-size: 2.2em;
  width: 80%;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-weight: bold;
  font-size: 2.2em;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup {
  max-height: 90%;
  overflow-y: scroll;
}

/**********************************
PAGE: ABOUT
***********************************/
.about-me-div {
  padding: 30px 0;
}

.profile-photo {
  width: 100%;
  /* border-radius: 20px; */
  margin-top: 24px;
}

.about-me-div-content {
  text-align: center;
}

.about-me-div-content p {
  font-family: 'nerislight', sans-serif;
  font-size: 24px;
  padding: 0;
}

.about-me-div-content h4 {
  font-family: 'nerislight', sans-serif;
  text-align: center;
}

/**********************************
PAGE: CONTACT
***********************************/

.contact-info-ul {
  list-style: none;
  font-size: 24px;
  padding: 0;
  margin: 30px auto;
  text-align: center;
}

.contact-info-ul a {
  text-decoration: none;
  font-family: 'nerislight', sans-serif;
  color: #000;
  margin: 15px 15px;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  display: inline-block;
}

.contact-info-ul span {
  display: block;
}

.contact-info-ul a:hover {
  color: #fff;
  background-color: #000;
}

.facebook {
  width: 40px;
}

.phone,
.email {
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 25px;
  padding: 3px;
  width: 45px;
}

/**********************************
FOOTER
***********************************/

footer  {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 70px;
}

.footer-paragraph {
  margin: 0 auto;
  color: white;
  font-family: "lato";
  padding: 20px 0 0;
  font-size: 18px;
}

/**********************************
MEDIA QUERIES
***********************************/

@media screen and (max-width: 767px) {

  .olga-logo {
      height: 50px;
  }
  .menu-icon {
      height: 40px;
  }

  .container-fluid {
    padding-top: 80px;
  }

  .page-header {
      height: 80px;
  }

  .navbar-header {
      height: 80px;
  }

  #myNavbar {
    padding-top: 0;
  }

  #myNavbar li {
    margin: 0 15px 0 15px;
    text-align: center;
  }

  #myNavbar a {
    font-size: 2em;
  }

  .landingpage h1 {
    font-size: 5em;
  }

  .landingpage h2 {
    font-size: 2.5em;
  }

  .popup {
    width: 90%;

  }

  .contact-info-ul {
    font-size: 20px;
    text-align: center;
  }

  .facebook {
    width: 40px;
  }

  .phone,
  .email {
    width: 35px;
  }
}

@media screen and (min-width: 767px){
   .collapse {
       display: none !important;
   }

   #myNavbar {
      border-bottom: 1px solid black !important;
   }

   .navbar-header {
       border-bottom: 1px solid black !important;
   }
}
